/*-------------
 VARIABLES
------------ */

:root{
    /* COLOURS */
    --main-color: #141922;
    --aside-color: #000000;
    --header-color: #080b12;
    --footer-color: #282828;
    --text1-color: #717171;
    /* /COLOURS */
}

/*-------------
 /VARIABLES
------------ */